<div class="container">
  <h2>Cadastro de Usuários</h2>
  <form>
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" [(ngModel)]="user.name" />
      <button class="filter-button" type="button" (click)="getUsersByName()">
        <img src="../../../../../assets/icons/filtro.png" alt="" />
      </button>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" />
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
      />
    </div>
    <div class="form-group">
      <label>Permissões</label>
      <div>
        <label for="admin">
          <input
            type="radio"
            id="admin"
            name="permissions"
            value="ADMIN,USER"
            [(ngModel)]="user.roles"
          />
          Admin
        </label>
        <label for="user">
          <input
            type="radio"
            id="user"
            name="permissions"
            value="USER"
            [(ngModel)]="user.roles"
          />
          User
        </label>
      </div>
    </div>
    <button class="save-button" type="submit" (click)="saveUser()">
      Salvar
    </button>
  </form>
</div>
