<div class="container">
<form>
    <caption>Usuários</caption>
    <div>
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" required>
      <button type="button" (click)="filterUsersByName()"><img src="../../../../../assets/icons/filtro.png" alt=""></button>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
  
    <div>
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" required>
    </div>
  
    <div>
        <label>Permissões</label>
        <div>
          <label for="admin">
            <input type="checkbox" id="admin" name="permissions"> Admin
          </label>
          <label for="user">
            <input type="checkbox" id="user" name="permissions"> User
          </label>
        </div>
      </div>
  
    <button type="submit" class="save-button">Salvar</button>
  </form>
</div> 
